<h1>Home#get</h1>
<p><a href="/home/get">Home</a></p>
<p><a href="http://api.sonatribe.com/auth/twitter">Log in</a></p>
<p><a href="/test_login/get">Test Login data</a></p>
<p><a href="http://api.sonatribe.com/auth/logout">Log out</a></p>